body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 8px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
  margin-bottom: 8px;
}

.button-container {
  display: block;
  background: #e3f4ff;
  text-align: center;
  padding: 16px 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 10px auto 0;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
}